@import "tailwindcss";

/* Scrollbar estilizado para Orbit */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* fundo do track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6d28d9 0%, #8b5cf6 100%);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8b5cf6 0%, #a78bfa 100%);
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6d28d9 #1a1a1a;
}